<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light bg-primary"> 

    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'breadgirl.png', size: '90x100' %>
    <% end %>

  </nav>
</header>