<div class="d-flex flex-column align-items-center justify-content-center" style="height: 70vh;">
  <%= image_tag "curvegirl.jpg", alt: "サンプル画像", class: "img-fluid" %>
  <p>（あなた）きゃっ</p>
  <p>　　　　いった〜い！</p>
  <p> （ ？ ）大丈夫ですか？</p>
  <%= button_to '運命の相手を見る', random_images_path, method: :get %>
</div>