<div class="d-flex flex-column align-items-center justify-content-center" style="height: 70vh;">
  <%= image_tag "curvegirl.jpg", alt: "サンプル画像", class: "img-fluid" %>

  <div style="margin: 10px;">（あなた）きゃっ、いった〜い！</div>
  <div style="margin-bottom: 10px;"> （ ？ ）大丈夫ですか？</div>

  <%= button_to '運命の相手を見る', random_images_path, method: :get, class: 'btn btn-primary' %>
</div>
