<div style="text-align: center;">
  <%= image_tag "curve.jpg", alt: "サンプル画像", class: "img-fluid" %>
  <div>（あなた）いっけなーい遅刻遅刻!</div>
  <%= link_to 'いきおい良く曲がる', accident_path, class: "btn btn-primary btn-lg my-2" %>
</div>
