<div class="d-flex flex-column align-items-center justify-content-center" style="height: 70vh;">
  <h1 class="mb-4 cute-font">青春アプリ</h1>
  <%= image_tag "breadgirl.png", alt: "サンプル画像", class: "img-fluid mb-4", size: '210x240' %>
  <%= link_to '運命の相手を探す', images_path, class: "btn btn-primary btn-lg" %>
</div>